{% extends "base.html" %}

<style>
body{
  padding: 50px;
}

p{
  font-family: "Helvetica", Arial, sans-serif;
  padding: 50px;
}

</style>
{% block content %}

<!-- template for the causes of death page -->
<br>
<p style="float: left;">

<br>
<div style = "padding-right: 20px;">
  <img src='{{ pic_source }}' width=45%; align = "left" />   <img src='{{ pic_source2 }}' width=45%; align = "right" />
<br>

  <img src='{{ pic_source3 }}' width=45%; align = "left" />   <img src='{{ pic_source4 }}' width=45%; align = "right" />
<br>
  <img src='{{ pic_source5 }}' width=45%; align = "left" />   <img src='{{ pic_source6 }}' width=45%; align = "right" />
<br>




{% endblock %}
